/* ------------------------------------------------------------------------------------- Images */

.image-container {
    width: 94%;
    margin: auto;
}

img {
    width: 80%;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 10px;
}