.header-image1 {
    background: url(https://i.imgur.com/oMjJO6c.jpg) no-repeat bottom right fixed;
}

.header-image2 {
    background: url(https://i.imgur.com/Uy7Wb6y.jpg) no-repeat bottom right fixed;
}

.header-image3 {
    background: url(https://i.imgur.com/SVDnkzk.jpg) no-repeat bottom right fixed;
}