/* ------------------------------------------------------------------------------------- Global styles */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    width: 100%;
}

body {
    background-color: rgb(214, 214, 214);
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

/* ------------------------------------------------------------------------------------- Header */

header {
    align-content: center;
}

.index-header {
    height: 82vh;
}

.products-header {
    height: 6vh;
}

.header-container {
    height: 80vh;
    width: 100%;
    background: url(https://i.imgur.com/oMjJO6c.jpg) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

.header-text-container {
    background-color: #000;
    height: fit-content;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 400%;
}

.name-text {
    width: 40%;
    margin-left: 55vw;
    background-color: rgba(0,0,0,0.3);
    border-radius: 15px;
}

/* ------------------------------------------------------------------------------------- Index products section */

p {
    width: 70%;
    margin: 20px auto;
}

.heading {
    margin-top: 3%;
    margin-bottom: 2%;
}

.grid {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    gap: 3%;
}

.cart-grid {
    width: 60%;
}

span {
    align-self: center;
}

.cart-headers {
    margin-bottom: 10%;
}

.cart-price {
    margin-top: 10%;
}

.view-all {
    float: right;
    margin-top: 5%
}

.product-grid {
    margin: auto;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.centered {
    margin: auto;
}

.product-title {
    margin-top: 3%;
    margin-bottom: 3%;
}

.grid-cols {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

/* ------------------------------------------------------------------------------------- Footer */

footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    height: fit-content;
    justify-content: space-around;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.privacy {
    margin: auto;
}